body {
    background-color: black !important;
}
/*Quando a legenda aparecer na tela, preciso que a tela seja dividida, então estou organizando a tela por linhas, 
ou seja, tudo na mesma linha, estou colocando tbm, uma transição de 2 segundos, para as animações acontecerem de forma suave*/
.tela_dividida {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*Aqui estou centralizando todo o sistema solar e definindo seu tamanho*/
.geral {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    padding: 0 0 0 5px;
}

/*Quando a tela fica dividida eu preciso que o tamanho e o sistema solar mudem, por isso que o geral 
se transforma no "geral_dividido"*/
.geral_dividido {
    position: fixed;
    left: 0;
    width: 70%;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: grab;
}

.geral_dividido:active {
    cursor: grabbing;
}

.instrucoes {
    position: fixed;
    top: 0;
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    padding-top: 5px;
}

.instrucao_esquerda {
    top: 0;
    color: white;
    left: 250px;
    display: flex;
}

.instrucao_direita {
    top: 0;
    color: white;
    left: 650px;
    display: flex;
}

/*Aqui estou definindo a parte dos textos, cor de fundo, o mouse, largura e assim vai*/
.contexto {
    position: fixed;
    cursor: default;
    background-color: #222222;
    width: 30%;
    margin: 0;
    height: 100%;
    color: white;
    padding: 10px 50px;
    right: 0;
}
/*Aqui estou definindo a parte dos textos, cor de fundo, o mouse, largura e assim vai*/
.sistema_solar {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 2000px;
    left: 2000px;
}
/*Aqui, bom, é literalmente o meu sol, tô declarando como ele é*/
.sol {
    z-index: 100;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 3em white;
}



/*Como a terra e a lua tem algumas caracteristicas em comum, decidi juntar os dois, pra economizar palavras*/
.mercurio, .venus, .terra, .lua, .marte, .jupiter, .saturno, .urano, .neptuno  {
    position: absolute;
    border-style: solid;
    border-color: white white white white;
    border-width: 0.1em 0.1em 0.1 0.1;
    border-radius: 50%;
}

.mercurio {
    top: 12.5em;
    width: 15em;
    height: 15em;
    animation: orbita 10s linear infinite;
    z-index: 9;
}

.venus {
    top: 7.5em;
    width: 27em;
    height: 27em;
    animation: orbita 15s linear infinite;
    z-index: 8;
}

/*Aqui eu defino como é a órbita da terra*/
.terra {
    top: -1.5em;
    left: -2.5em;
    width: 45em;
    height: 45em;
    animation: orbita 50s linear infinite;
    z-index: 10000000;
}

/*Aqui eu defino como é a órbita da lua*/
.lua {
    top: 65px;
    right: 15px;
    width: 5em;
    height: 5em;
    animation: orbita 10s linear infinite;
    z-index: -100000000000;
}

.marte {
    top: -11.5em;
    width: 68em;
    height: 68em;
    animation: orbita 60s linear infinite;
    z-index: 5;
}

.jupiter {
    top: -27.5em;
    width: 100em;
    height: 100em;
    animation: orbita 85s linear infinite;
    z-index: 4;
}

.saturno {
    top: -53.5em;
    width: 150em;
    height: 150em;
    animation: orbita 110s linear infinite;
    z-index: 3;
}

.aneis {
    position: absolute;
    border-style: solid;
    border-color: #ffe34144;
    border-width: 0.8em 0.8em 0.8em 0.8em;
    border-radius: 50%;
    z-index: 10;
    right: 68px;
    top: 291px;
    width: 10em;
    height: 10em;
    animation: orbita 10s linear infinite;
    z-index: -100000000000;
}

.urano {
    top: -89.5em;
    width: 220em;
    height: 220em;
    animation: orbita 150s linear infinite;
    z-index: 2;
}

.neptuno {
    top: -141.5em;
    width: 325em;
    height: 325em;
    animation: orbita 200s linear infinite;
    z-index: 1;
}

/*Aqui eu começo a fazer as bolinhas, que mais para frente vão virar nossos planetinhas*/
.mercurio::before, .venus::before, .terra::before, .lua::before, .marte::before, .jupiter::before, .saturno::before, .urano::before, .neptuno::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.mercurio::before {
    top: 1.3em;
    right: 2em;
    width: 1em;
    height: 1em;
    background-color: lightyellow;
}

.venus::before {
    top: 4em;
    right: 1.5em;
    width: 2.5em;
    height: 2.5em;
    background-color: lightblue;
}

/*Aqui eu crio a terra*/
.terra::before {
    top: 7.8em;
    right: 2.8em;
    width: 2.7em;
    height: 2.7em;
    background-color: aquamarine;
}
/*Aqui eu crio a lua*/
.lua::before {
    top: -0.2em;
    right: 0.8em;
    width: 0.8em;
    height: 0.8em;
    background-color: silver;
}

.marte::before {
    top: 14.2em;
    right: 5em;
    width: 1.4em;
    height: 1.4em;
    background-color: lightcoral;
}

.jupiter::before {
    top: 18em;
    right: 6em;
    width: 7em;
    height: 7em;
    background-color: orange;
}

.saturno::before {
    top: 32.2em;
    right: 10em;
    width: 4em;
    height: 4em;
    background-color: #ffe341;
}

.urano::before {
    top: 54em;
    right: 11em;
    width: 5.5em;
    height: 5.5em;
    background-color: greenyellow;
}

.neptuno::before {
    top: 82em;
    right: 17em;
    width: 5.5em;
    height: 5.5em;
    background-color: darkblue;
}

/*Uma variável em CSS, vou usar ela pra fazer as órbitas*/
@keyframes orbita {
    to {
        transform: rotate(360deg);
    }
}
/*Esse é o contrário da órbita, pra deixar parado*/
@keyframes orbita-inversa {
    to {
        transform: rotate(-360deg);
    }
}
/*Esse centro, nada mais é do que as legendas dos planetas*/
.centro_lua, .centro_terra, .centro_sol, .centro_venus, .centro_mercurio, .centro_marte, .centro_jupiter, .centro_saturno, .centro_urano, .centro_neptuno {
    border-radius: 10px;
    color: white;
    position: absolute;
    z-index: 0;
    background-color: #444444AA;
    width: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/*Aqui eu defino a velocidade contrária da legenda da lua*/
.centro_lua {
    margin: 0 10px;
    animation: orbita-inversa 8.3333s linear infinite;
}

.centro_lua::before {
    content: "Lua";
}
/*Aqui eu defino a velocidade contrária da legenda da terra*/
.centro_terra {
    margin: 40px 30px;
    animation: orbita-inversa 50s linear infinite;
}

.centro_terra::before {
    content: "Terra";
}

.centro_venus {
    margin: 15px;
    animation: orbita-inversa 15s linear infinite;
}

.centro_venus::before {
    content: "Venus";
}

.centro_mercurio {
    margin: 8px;
    animation: orbita-inversa 10s linear infinite;
}

.centro_mercurio::before {
    content: "Mercurio";
}

.centro_marte {
    margin: 15px;
    animation: orbita-inversa 60s linear infinite;
}

.centro_marte::before {
    content: "Marte";
}

.centro_jupiter {
    margin: 0 70px;
    animation: orbita-inversa 85s linear infinite;
}

.centro_jupiter::before {
    content: "Jupiter";
}

.centro_saturno {
    margin: 40px 30px;
    animation: orbita-inversa 110s linear infinite;
}

.centro_saturno::before {
    content: "Saturno";
}

.centro_urano {
    margin: 40px 60px;
    animation: orbita-inversa 150s linear infinite;
}

.centro_urano::before {
    content: "Urano";
}

.centro_neptuno {
    margin: 40px 30px;
    animation: orbita-inversa 200s linear infinite;
}

.centro_neptuno::before {
    content: "Netuno";
}

/*Aqui eu defino a velocidade contrária da legenda da terra*/
.orbita_sol, .orbita_terra, .orbita_venus, .orbita_mercurio, .orbita_marte, .orbita_jupiter, .orbita_saturno, .orbita_urano, .orbita_neptuno, .universo, .legenda_neptuno, .legenda_urano, .legenda_saturno, .legenda_jupiter, .legenda_marte, .legenda_venus, .legenda_mercurio, .legenda_terra, .legenda_lua {
    position: absolute;
}
/*Estou definindo novamente as as órbitas, mas agora é para conseguir clicar e colocar 
legendas*/
.orbita_sol {
    top: -1.5em;
    left: -2.5em;
    width: 45em;
    height: 45em;
    animation: orbita 50s linear infinite;
    z-index: 0;
}

.orbita_mercurio {
    top: 12.5em;
    width: 15em;
    height: 15em;
    animation: orbita 10s linear infinite;
    z-index: 0;
}

.orbita_venus {
    top: 7.5em;
    width: 27em;
    height: 27em;
    animation: orbita 15s linear infinite;
    z-index: 0;
}

.orbita_marte {
    top: -11.5em;
    width: 68em;
    height: 68em;
    animation: orbita 60s linear infinite;
    z-index: 0;
}

.orbita_jupiter {
    top: -27.5em;
    width: 100em;
    height: 100em;
    animation: orbita 85s linear infinite;
    z-index: 0;
}

.orbita_saturno {
    top: -53.5em;
    width: 150em;
    height: 150em;
    animation: orbita 110s linear infinite;
    z-index: 0;
}


.orbita_urano {
    top: -89.5em;
    width: 220em;
    height: 220em;
    animation: orbita 150s linear infinite;
    z-index: 0;
}

.orbita_neptuno {
    top: -141.5em;
    width: 325em;
    height: 325em;
    animation: orbita 200s linear infinite;
    z-index: 0;
}

.universo {
    height: 1000em;
    width: 1000em;
    top: -500em;
    z-index: 0;
}

/*Aqui eu crio o campo para passar o mouse para a terra*/
.legenda_mercurio, .legenda_venus, .legenda_terra, .legenda_lua, .legenda_marte, .legenda_jupiter, .legenda_saturno, .legenda_urano, .legenda_neptuno {
    z-index: 100;
    cursor: pointer;
}
.legenda_mercurio {
    cursor: pointer;
    top: 1.3em;
    right: 2em;
    width: 1em;
    height: 1em;
    z-index: 9;
}

.legenda_venus {
    cursor: pointer;
    top: 4em;
    right: 1.5em;
    width: 2.5em;
    height: 2.5em;
    z-index: 8;
}

/*Aqui eu crio o campo para passar o mouse para a terra*/
.legenda_terra {
    top: 7.8em;
    right: 2.8em;
    width: 2.7em;
    height: 2.7em;
    z-index: 7;
}

.legenda_marte {
    cursor: pointer;
    top: 14.2em;
    right: 5em;
    width: 1.4em;
    height: 1.4em;
    z-index: 5;
}

.legenda_jupiter {
    cursor: pointer;
    top: 18em;
    right: 6em;
    width: 7em;
    height: 7em;
}

.legenda_saturno {
    cursor: pointer;
    top: 32.2em;
    right: 10em;
    width: 4em;
    height: 4em;
    z-index: 3;
}

.legenda_urano {
    cursor: pointer;
    top: 54em;
    right: 11em;
    width: 5.5em;
    height: 5.5em;
    z-index: 2;
}

.legenda_neptuno {
    cursor: pointer;
    top: 82em;
    right: 17em;
    width: 5.5em;
    height: 5.5em;
    z-index: 1;
}

/*A órbita da terra seria a classe da lua, mas agora é para as legendas*/
.orbita_terra {
    top: 65px;
    right: 15px;
    width: 5em;
    height: 5em;
    animation: orbita 10s linear infinite;
}
/*Aqui eu crio a legenda para a lua*/
.legenda_lua {
    top: -0.2em;
    right: 4px;
    width: 1.5em;
    height: 1.5em;
}
/*Criação do triângulo*/
.ponta {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #444444AA;
    transform: rotate(180deg);
    top: 11.5px;
}
/*Aqui fica o "sistema_solar"*/
.legenda_sol {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -20px;
    align-items: center;
}
/*Aqui eu crio a legenda para o sol*/
.centro_sol {
    color: white;
    z-index: 0;
    background-color: #444444AA;
    width: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.centro_sol::before {
    content: "Sol";
}

/*Quando eu clico no sol, a clase se transforma nessa, que faz ele crescer*/
.crescer_sol {
    transform: scale(2.5);
}
/*Quando eu clico no sol, a clase se transforma nessa, que faz ele crescer*/
.crescer_terra {
    z-index: 100;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: aqua;
    border-radius: 50%;
    transform: scale(2.5);
}
/*Quando eu clico na lua, a clase se transforma nessa, que faz ele crescer*/
.crescer_lua {
    z-index: 100;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: silver;
    border-radius: 50%;
    transform: scale(2.5);
}
.centro_lua_invisivel, .centro_terra_invisivel {
    cursor: default !important;
    opacity: 0;
}
/*Aqui eu defino que as legendas da lua tem opacidade quando passa o mouse 
sobre a lua*/
.legenda_lua:hover .centro_lua {
    opacity: 1 !important;
}
/*Aqui eu defino que as legendas da terra tem opacidade quando passa o mouse 
sobre a terra*/
.legenda_terra:hover .centro_terra {
    opacity: 1 !important;
}
/*Aqui eu defino que todas as legendas tem opacidade quando passa o mouse 
sobre a lua*/
.crescer_lua:hover .centro_sol, .crescer_lua:hover .ponta, .crescer_terra:hover .centro_sol, .crescer_terra:hover .ponta, .sol:hover .centro_sol, .sol:hover .ponta {
    opacity: 1 !important;
}
