.App {
  text-align: center;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.grande {
  height: 100%;  
  width: 100%;
}

main {
  position: fixed;
  top: 0;
}

.titulo {
  position: absolute;
  z-index: 1000;
  width: 100%;
}

.navbar { 
  background-color: #112 !important;
  box-shadow: 0 0 20px black !important;
}

.navbar-brand {
  color: white;
  font-size: 3rem !important;
}

.btn {
  background: #223;
  --bs-btn-border-color: black;
}

.offcanvas {
  background-color: #112 !important;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.butao {
  position: absolute;
  z-index: 10000;
  top: 0;
  right: 0;
}

@media screen and (max-width: 800px) {
  .celular {
    position: absolute;
    background-color: #112;
    z-index: 10000000000000000000000000;
    height: 100%;
    width: 100%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  .celular::after {
    content: 'Feito apenas para Computador';
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
